---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - G1524512558440Z4b26m000000NLqYx
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_1:ad7a03acb8e03118e441aacc2b0562e4d7edebf0f1dd9ea93d2a85bf7eaff7494d9e78f173ae90bc6f2543988b900bea08735960049bb96e1d3fb5b7da260237"
          }
        }
  recorded_at: Mon, 23 Apr 2018 19:42:38 GMT
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/user/login
    body:
      encoding: UTF-8
      string: '{"user":{"loginName":"YODLEE_USER_LOGIN","password":"YODLEE_USER_LOGIN#123","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{cobSession=08062013_1:ad7a03acb8e03118e441aacc2b0562e4d7edebf0f1dd9ea93d2a85bf7eaff7494d9e78f173ae90bc6f2543988b900bea08735960049bb96e1d3fb5b7da260237}"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Yodlee-Ref-Id:
      - q1524512558567m4h27v000000NLZYT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "Y002",
          "errorMessage" : "Invalid loginName/password",
          "referenceCode" : "j1524512558567A4G27L"
        }
  recorded_at: Mon, 23 Apr 2018 19:42:38 GMT
recorded_with: VCR 4.0.0
