---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - O1524512870306X4b27p000000NLHYT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_1:23db5d4e73be9c258f6878f646f5331b0e526e266640820c7c299d324dc3268ef5d31555bd5d6bd5d969b383b0e2a97b619f0d0f7b8392624a83e7d274174f21"
          }
        }
  recorded_at: Mon, 23 Apr 2018 19:47:50 GMT
recorded_with: VCR 4.0.0
