---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - T1524512870620I4M26G000000NLZYB
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_2:8b169df30be5bc2ac5d7d23ea647cb2d62762d592f2e9fe2dc68931419c75ba6a0b80b9ed7ec55f9b45f5b5447c0feb88aa3d6da953005b9831a1d88a057b526"
          }
        }
  recorded_at: Mon, 23 Apr 2018 19:47:50 GMT
recorded_with: VCR 4.0.0
