---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - a1524512870461V4b26i000000NLEYg
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_0:f791b6479ad702cce56c0b276a10962a4229cacc5c483949e0b8257db89d9e9447914e0b73e990e8e16b9f84dedf2ea252dca389e25e28360f1314717f80cf9e"
          }
        }
  recorded_at: Mon, 23 Apr 2018 19:47:50 GMT
recorded_with: VCR 4.0.0
