---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - D1524513675699g4a26M000000NLAYQ
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_0:b8b330329fbfdb758089f2a2ae3e359bbdc94df60a23289c805e90fb6daae836e17b772c1530243cbfd5cdb176a2346ef29b199942c110584bef14b60781dfbf"
          }
        }
  recorded_at: Mon, 23 Apr 2018 20:01:17 GMT
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/user/login
    body:
      encoding: UTF-8
      string: '{"user":{"loginName":"YODLEE_USER_LOGIN","password":"YODLEE_USER_LOGIN#123","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{cobSession=08062013_0:b8b330329fbfdb758089f2a2ae3e359bbdc94df60a23289c805e90fb6daae836e17b772c1530243cbfd5cdb176a2346ef29b199942c110584bef14b60781dfbf}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - A1524513678003H4h27B000000NLaYq
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"user":{"id":10166523,"loginName":"YODLEE_USER_LOGIN","name":{"first":"Zane","last":"Wolfgang
        Pickett"},"roleType":"INDIVIDUAL","session":{"userSession":"08062013_2:bcbf6eef1b0b1cbfdcf1d691ea108bf392ae5d7a0598480f1a347420ecd5de29bf881bf7a9f1703691a5e31fad66c2e0907339a5b53a745d27bf6c75aa299667"},"preferences":{"currency":"USD","timeZone":"PST","dateFormat":"MM/dd/yyyy","locale":"en_US"}}}'
  recorded_at: Mon, 23 Apr 2018 20:01:18 GMT
- request:
    method: get
    uri: https://developer.api.yodlee.com/ysl/transactions?fromDate=2010-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{userSession=08062013_2:bcbf6eef1b0b1cbfdcf1d691ea108bf392ae5d7a0598480f1a347420ecd5de29bf881bf7a9f1703691a5e31fad66c2e0907339a5b53a745d27bf6c75aa299667,cobSession=08062013_0:b8b330329fbfdb758089f2a2ae3e359bbdc94df60a23289c805e90fb6daae836e17b772c1530243cbfd5cdb176a2346ef29b199942c110584bef14b60781dfbf}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - W1524513678186Q4x27x000000NLLYA
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"transaction":[{"CONTAINER":"creditCard","id":34830520,"amount":{"amount":101,"currency":"USD"},"baseType":"DEBIT","categoryType":"EXPENSE","categoryId":2,"category":"Automotive/Fuel","categorySource":"SYSTEM","highLevelCategoryId":10000003,"createdDate":"2018-02-28T18:22:19Z","lastUpdated":"2018-02-28T18:22:19Z","description":{"original":"AIR
        VALET","simple":"AirValet"},"type":"PURCHASE","subType":"PURCHASE","isManual":false,"date":"2014-01-17","postDate":"2014-01-17","status":"POSTED","accountId":11435673,"merchant":{"id":"1390","name":"AirValet","source":"YODLEE"}},{"CONTAINER":"creditCard","id":34830521,"amount":{"amount":180.89,"currency":"USD"},"baseType":"DEBIT","categoryType":"EXPENSE","categoryId":43,"category":"Electronics/General
        Merchandise","categorySource":"SYSTEM","highLevelCategoryId":10000004,"createdDate":"2018-02-28T18:22:19Z","lastUpdated":"2018-02-28T18:22:19Z","description":{"original":"AMAZON
        MKTPLACE PMTS","simple":"Amazon"},"type":"PURCHASE","subType":"ONLINE_PURCHASE","isManual":false,"date":"2014-01-16","postDate":"2014-01-16","status":"POSTED","accountId":11435673,"merchant":{"id":"amazon","name":"Amazon","source":"FACTUAL","categoryLabel":["Electronics/General
        Merchandise"],"coordinates":{"latitude":0.0,"longitude":0.0}}},{"CONTAINER":"creditCard","id":34830522,"amount":{"amount":101.07,"currency":"USD"},"baseType":"DEBIT","categoryType":"EXPENSE","categoryId":7,"category":"Entertainment/Recreation","categorySource":"SYSTEM","highLevelCategoryId":10000011,"createdDate":"2018-02-28T18:22:19Z","lastUpdated":"2018-02-28T18:22:19Z","description":{"original":"BLOCKBUSTEREXPRESS","simple":"Blockbuster"},"type":"PURCHASE","subType":"PURCHASE","isManual":false,"date":"2014-01-15","postDate":"2014-01-15","status":"[...]
