---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - w1524513787615l4V27s000000NLoYJ
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_1:22399bc7a8d968f75e2df18ade09aebe546597d28a043f29b3bda5b2c88a7ae2b41ee522f54c65f9fafd4b4d5b5aeee3cc7d7031e1c1050ee7219746b09c35c4"
          }
        }
  recorded_at: Mon, 23 Apr 2018 20:03:07 GMT
- request:
    method: get
    uri: https://developer.api.yodlee.com/ysl/providers?top=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{cobSession=08062013_1:22399bc7a8d968f75e2df18ade09aebe546597d28a043f29b3bda5b2c88a7ae2b41ee522f54c65f9fafd4b4d5b5aeee3cc7d7031e1c1050ee7219746b09c35c4}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - f1524513787729F4X27L000000NLFYp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"provider":[{"PRIORITY":"COBRAND","id":2,"name":"Sprint PCS","loginUrl":"http://www.sprint.com/mysprint/pages/sl/global/index.jsp","baseUrl":"http://www.sprint.com/","favicon":"https://yodlee-1.hs.llnwd.net/v1/FAVICON/FAV_2.PNG","logo":"https://yodlee-1.hs.llnwd.net/v1/LOGO/LOGO_2_1_1.PNG","status":"Supported","languageISOCode":"EN","primaryLanguageISOCode":"EN","countryISOCode":"US","lastModified":"2017-05-22T10:09:37Z","forgetPasswordUrl":"https://manage.sprintpcs.com/Manage/portal/!ut/p/.scr/ForgotPassword","isAutoRefreshEnabled":false,"dataset":[{"name":"BASIC_AGG_DATA","attribute":[{"name":"ACCOUNT_DETAILS","container":["bill"]},{"name":"STATEMENTS","container":["bill"]}]}],"authType":"MFA_CREDENTIALS"},{"PRIORITY":"COBRAND","id":3,"name":"New
        York Times","loginUrl":"http://www.nytimes.com/auth/login?URI=http://","baseUrl":"http://www.nytimes.com","favicon":"https://yodlee-1.hs.llnwd.net/v1/FAVICON/FAV_3.PNG","logo":"https://yodlee-1.hs.llnwd.net/v1/LOGO/LOGO_3_1_1.PNG","status":"Supported","languageISOCode":"EN","primaryLanguageISOCode":"EN","countryISOCode":"US","lastModified":"2017-02-06T09:12:26Z","isAutoRefreshEnabled":true,"dataset":[{"name":"BASIC_AGG_DATA","attribute":[{"name":"ACCOUNT_DETAILS","container":["loan"]},{"name":"STATEMENTS","container":["loan"]},{"name":"TRANSACTIONS","container":["loan"]}]}],"authType":"CREDENTIALS"}]}'
  recorded_at: Mon, 23 Apr 2018 20:03:08 GMT
- request:
    method: get
    uri: https://developer.api.yodlee.com/ysl/providers?skip=2&top=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{cobSession=08062013_1:22399bc7a8d968f75e2df18ade09aebe546597d28a043f29b3bda5b2c88a7ae2b41ee522f54c65f9fafd4b4d5b5aeee3cc7d7031e1c1050ee7219746b09c35c4}"
  response:
    status:
      code: 20[...]
