---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - o1524515025542S4N27K000000NLqYA
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_0:834e306c8601f2729677db4ebe2278256ed9023263774df6d5534785e313c9e01461a51f185680674f6f59b869973a800e10b053997134692cd8ab49464451ca"
          }
        }
  recorded_at: Mon, 23 Apr 2018 20:23:45 GMT
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/user/login
    body:
      encoding: UTF-8
      string: '{"user":{"loginName":"YODLEE_USER_LOGIN","password":"YODLEE_USER_LOGIN#123","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{cobSession=08062013_0:834e306c8601f2729677db4ebe2278256ed9023263774df6d5534785e313c9e01461a51f185680674f6f59b869973a800e10b053997134692cd8ab49464451ca}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - C1524515025813N4q26E000000NLrYZ
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"user":{"id":10166524,"loginName":"YODLEE_USER_LOGIN","name":{"first":"Zane","last":"Wolfgang
        Pickett"},"roleType":"INDIVIDUAL","session":{"userSession":"08062013_2:04f3e78780e1ee9f336122c726a59afe4e7da88fa1c50eb3c17e1a1a7e733ffc1ecab823c579b167f4838cd0a02745894878eb147c482771abdf95581cd89e12"},"preferences":{"currency":"USD","timeZone":"PST","dateFormat":"MM/dd/yyyy","locale":"en_US"}}}'
  recorded_at: Mon, 23 Apr 2018 20:23:45 GMT
- request:
    method: get
    uri: https://developer.api.yodlee.com/ysl/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{userSession=08062013_2:04f3e78780e1ee9f336122c726a59afe4e7da88fa1c50eb3c17e1a1a7e733ffc1ecab823c579b167f4838cd0a02745894878eb147c482771abdf95581cd89e12,cobSession=08062013_0:834e306c8601f2729677db4ebe2278256ed9023263774df6d5534785e313c9e01461a51f185680674f6f59b869973a800e10b053997134692cd8ab49464451ca}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - N1524515026075m4a27F000000NLbYf
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"account":[{"availableCash":{"amount":600,"currency":"USD"},"includeInNetWorth":true,"availableCredit":{"amount":1363,"currency":"USD"},"accountName":"CREDIT
        CARD","accountType":"OTHER","isManual":false,"accountNumber":"************8614","accountStatus":"ACTIVE","lastUpdated":"2018-04-23T20:14:18Z","isAsset":false,"createdDate":"2018-02-28T18:22:20Z","balance":{"amount":1636.44,"currency":"USD"},"aggregationSource":"USER","totalCashLimit":{"amount":600,"currency":"USD"},"providerId":"16441","providerAccountId":10741073,"CONTAINER":"creditCard","id":11435679,"totalCreditLine":{"amount":3000,"currency":"USD"},"dataset":[{"updateEligibility":"DISALLOW_REFRESH","lastUpdated":"2018-04-23T20:14:18Z","additionalStatus":"AVAILABLE_DATA_RETRIEVED","name":"BASIC_AGG_DATA","lastUpdateAttempt":"2018-04-23T20:14:18Z"}],"providerName":"Dag
        Site"},{"includeInNetWorth":true,"accountName":"TESTDATA1","currentBalance":{"amount":9044.78,"currency":"USD"},"accountType":"SAVINGS","isManual":false,"displayedName":"accountHolder","accountNumber":"503-5623xxx","availableBalance":{"amount":65454.78,"currency":"USD"},"accountStatus":"ACTIVE","lastUpdated":"2018-04-23T20:14:12Z","isAsset":true,"createdDate":"2018-02-28T18:22:19Z","balance":{"amount":9044.78,"currency":"USD"},"aggregationSource":"USER","providerId":"16441","providerAccountId":10741073,"CONTAINER":"bank","id":11435678,"dataset":[{"updateEligibility":"DISALLOW_REFRESH","lastUpdated":"2018-04-23T20:14:12Z","additionalStatus":"AVAILABLE_DATA_RETRIEVED","name":"BASIC_AGG_DATA","lastUpdateAttempt":"2018-04-23T20:14:12Z"}],"providerName":"Dag
        Site"},{"includeInNetWorth":true,"accountName":"TESTDATA","currentBalance":{"amount":44.78,"currency":"USD"},"accountType":"CHECKING","isManual":false,"displayedName":"accountHolder","accountNumber":"503-1123xxx","availableBalance":{"amount":54.78,"currency":"USD"},"accountStatus":"ACTIVE","lastUpdated":"2018-04-23T20:14:12Z","isAsset":true,"createdDate":"2018-02-28T18:22:19Z","balance":{"amount":44.78,"currency":"USD"},"aggregationSource":"USER","providerId":"16441","providerAccountId":10741073,"CONTAINER":"bank","id":11435677,"dataset":[{"updateEligibility":"DISALLOW_REFRESH","lastUpdated":"2018-04-23T20:14:12Z","additionalStatus":"AVAILABLE_DATA_RETRIEVED","name":"BASIC_AGG_DATA","lastUpdateAttempt":"2018-04-23T20:14:12Z"}],"providerName":"Dag
        Site"}]}'
  recorded_at: Mon, 23 Apr 2018 20:23:46 GMT
recorded_with: VCR 4.0.0
