---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - C1524513225333V4w26t000000NLTYP
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_0:2beb6f33968b7e671a96d71a3c603214040031119b1e7ac415cc574fcbe1c73b0b0d289f1183b2eac6a4c4b53ef4a2875049569f953c3e8a37f4f707e0aec02e"
          }
        }
  recorded_at: Mon, 23 Apr 2018 19:53:45 GMT
recorded_with: VCR 4.0.0
