---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - s1524512635845K4r26k000000NLuYx
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_0:1f719aaea00088a0c95599c21cf147ae519fade3c8c52be11ceef1f65af30336eeeacaf3401d0e2a73e4f7c84019b3014ab1ae258a6d031182744aadfb23ef0a"
          }
        }
  recorded_at: Mon, 23 Apr 2018 19:43:55 GMT
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/user/register
    body:
      encoding: UTF-8
      string: '{"user":{"loginName":"username_04","password":"Pa$$w0rd!","email":"example@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{cobSession=08062013_0:1f719aaea00088a0c95599c21cf147ae519fade3c8c52be11ceef1f65af30336eeeacaf3401d0e2a73e4f7c84019b3014ab1ae258a6d031182744aadfb23ef0a}"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Yodlee-Ref-Id:
      - d1524512635991C4B26c000000NLUYI
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"errorCode":"Y400","errorMessage":"Accessibility denied.","referenceCode":"RB_b5db6e2f-c2c8-4cdb-ad64-ba9667cf0db9"}'
  recorded_at: Mon, 23 Apr 2018 19:43:56 GMT
recorded_with: VCR 4.0.0
