---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - B1524513798039D4r27k000000NLQYO
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_1:daf03b30fb8b68f8271fd79af96f0d7dca30bae3d9e1a6f4a390d1c90a350271e5811712f201abb43a20e81204516d547eac4fd18f62d48e231bc281b54019ac"
          }
        }
  recorded_at: Mon, 23 Apr 2018 20:03:18 GMT
- request:
    method: get
    uri: https://developer.api.yodlee.com/ysl/providers/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
      Authorization:
      - "{cobSession=08062013_1:daf03b30fb8b68f8271fd79af96f0d7dca30bae3d9e1a6f4a390d1c90a350271e5811712f201abb43a20e81204516d547eac4fd18f62d48e231bc281b54019ac}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - i1524513798155p4x26G000000NLxYA
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"provider":[{"id":3,"name":"New York Times","loginUrl":"http://www.nytimes.com/auth/login?URI=http://","baseUrl":"http://www.nytimes.com","favicon":"https://yodlee-1.hs.llnwd.net/v1/FAVICON/FAV_3.PNG","logo":"https://yodlee-1.hs.llnwd.net/v1/LOGO/LOGO_3_1_1.PNG","status":"Supported","isAutoRefreshEnabled":true,"lastModified":"2017-02-06T09:12:26Z","languageISOCode":"EN","primaryLanguageISOCode":"EN","loginForm":[{"id":3,"formType":"login","row":[{"id":3959,"label":"Subscriber
        ID","form":"0001","fieldRowChoice":"0001","field":[{"id":7,"name":"LOGIN","type":"text","value":"","isOptional":false,"valueEditable":true}]},{"id":3961,"label":"Password","form":"0001","fieldRowChoice":"0002","field":[{"id":9,"name":"PASSWORD","type":"password","value":"","isOptional":false,"valueEditable":true}]}]}],"dataset":[{"name":"BASIC_AGG_DATA","attribute":[{"name":"ACCOUNT_DETAILS","container":["loan"]},{"name":"STATEMENTS","container":["loan"]},{"name":"TRANSACTIONS","container":["loan"]}]}],"authType":"CREDENTIALS"}]}'
  recorded_at: Mon, 23 Apr 2018 20:03:18 GMT
recorded_with: VCR 4.0.0
