---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"YODLEE_COBRAND_LOGIN","cobrandPassword":"YODLEE_COBRAND_PASSWORD","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Api-Version:
      - '1.1'
      Cobrand-Name:
      - restserver
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - j1524512560390w4q26c000000NLpYl
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_2:803c7e769319a8dda3f5ae885c1536d6d39140f3d5fd9e8ad6ceebbbbb10fa2b28b3a85119b402d88f3ff2d9c3e18fe92be8245835fb83cb8f76993073de6e99"
          }
        }
  recorded_at: Mon, 23 Apr 2018 19:42:40 GMT
recorded_with: VCR 4.0.0
